* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #111;
  overflow: hidden;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

canvas:focus {
  outline: none;
}
